[user]
	email = rachayita@users.noreply.github.com
	name = rachayita
[core]
	editor = nvim
[credential]
	helper = cache --timeout=18000
[merge]
	tool = nvimdiff
	guitool = nvimdiff
[mergetool "nvimdiff"]
	; cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
	
	; $wincmd w focuses the last window because $ always references the highest window number.
        ; wincmd J moves the focused window to the bottom, so in this case the window for the merged file view.
	cmd = "nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'"
	prompt = true
[difftool "nvimdiff"]
	; cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
	cmd = "nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'"
	prompt = true
[diff]
	algorithm = patience
	compactionHeuristic = true
	tool = nvimdiff
[ui "color"]
	ui = always
[color]
	ui = true
[core]
	autocrlf = input
	safecrlf = true
[alias]
	c = commit
	s = status
	st = status
	lg = log --oneline
	last = log -1 HEAD
	f = push --force-with-lease
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
[pull]
	ff = only
[push]
	default = simple
[help]
	autocorrect = 1
[url "git@github.com:"]
	insteadOf = gh:
[github]
	user = rachayita
[diff]
	algorithm = patience
	compactionHeuristic = true
